.navbar {
  padding: 10px 0px;
  background-color: #ECF2FF;
}

.logo a {
  font-size: 21px;
  font-weight: 700;
  color: #000;
}
.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__list li {
  margin: 0 20px;
}
